certifi==2017.11.5
chardet==3.0.4
get==0.0.21
idna==2.6
post==0.0.13
public==0.0.38
query-string==0.0.12
request==0.0.13
requests==2.18.4
setupfiles==0.0.50
urllib3==1.24.2
virtualenv==15.1.0